@model CarWithFilters
<link rel="stylesheet" href="~/css/filter.css" asp-append-version="true" />
<form method="post" asp-action="Filters" asp-controller="Car" class="luxury-filter">
    <div class="filter-container">
        <h2 class="filter-title">Филтрирай Луксозните Автомобили</h2>
        <label class="filter-label">Цена на ден</label>
        <div class="price-inputs">
            <input type="number" name="MinPrice" placeholder="От цена" class="filter-input" />
            <input type="number" name="MaxPrice" placeholder="До цена" class="filter-input" />
        </div>

        <h4>Клас на колата:</h4>
        @foreach (var carClass in Model.Classes)
        {
            <div class="form-check">
                <input type="checkbox" name="SelectedClassIds" value="@carClass.Id"
                       class="form-check-input"
                @(Model.SelectedClassIds.Contains(carClass.Id) ? "checked" : "") />
                <label class="form-check-label">@carClass.Name</label>
            </div>
        }
        <div class="button-group">
            <button type="submit" class="luxury-button">Филтрирай</button>
            <a asp-controller="Car" asp-action="Index" class="luxury-button">Cancel</a>
        </div>
    </div>
</form>


