<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=close" />
<style>

	.body{
		font-family:'Poppins',sans-serif;
		width:100vw;
		height:100vh;
		font-size:0.88rem;
		user-select:none;
		overflow-x:hidden;
		background:var(--clr-light);
	}
	:root{
		
		--clr-primary: #7380ec;
		--clr-danger: #ff7782;
		--clr-success: #41f1b6;
		--clr-white: #fff;
		--clr-info-dark: #7d8da1;
		--clr-info-light: #dce1eb;
		--clr-dark: #363949;
		--clr-warnig: #ff4edc;
		--clr-light: rgba(132, 139, 200, 0.18);
		--clr-primary-variant: #111e88;
		--clr-dark-variant: #677483;
		--clr-color-background: #f6f6f9;
		--card-border-radius: 2rem;
		--border-radius-1: 0.4rem;
		--border-radius-2: 0.8rem;
		--border-radius-3: 1.2rem;
		--card-padding: 1.8rem;
		--padding-1: 1.2rem;
		--box-shadow: 0 2rem 3rem var(--clr-light);
	}
	*{
		margin:0;
		padding:0;
		box-sizing:border-box;
		text-decoration:none;
		border:0;
		list-style:none;
		appearance:none;
	}
	.conteiner{
		display:grid;
		width:96%;
		gap:1.8rem;
		grid-template-columns:14rem auto 14rem;
		margin:0 auto
	}
	a{
		color:var(--clr-dark);
	}
	h1{
		font-weight:800;
		font-size:1.8rem;
	}
	h2{
		font-size:1.4rem;
	}
	h3{
		font-size:0.87rem;
	}
	h4{
		font-size:0.8rem;
	}
	h5{
		font-size:0.77rem;
	}
	small{
		font-size:0.75rem;
	}
	@@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,700;1,800;1,900&display=swap');
</style>
<div class="conteiner">
	<aside>
		<div class="top">
			<div class="logo">
				<h2>Rent A <span class="danger">Car</span></h2>
			</div>
			<div class="close">
				<span class="material-symbols-outlined">
					close
				</span>
			</div>
		</div>
		<div class="sidebar">
			<a href="#">
				<span class="material-symbols-outlined">grid-view</span>
				<h3>Dashboard</h3>
			</a>
			<a href="#" class="active">
				<span class="material-symbols-outlined">person-outline</span>
				<h3>Customers</h3>
			</a>
			<a href="#">
				<span class="material-symbols-outlined">insights</span>
				<h3>Analysis</h3>
			</a>
			<a href="#">
				<span class="material-symbols-outlined">mail-outline</span>
				<h3>Messages</h3>
				<span class="msg_count">14</span>
			</a>
			<a href="#">
				<span class="material-symbols-outlined">receipt_long</span>
				<h3>Cars</h3>
			</a>
			<a href="#">
				<span class="material-symbols-outlined">report_gmailerrorred</span>
				<h3>Reports</h3>
			</a>
			<a href="#">
				<span class="material-symbols-outlined">settings</span>
				<h3>Settings</h3>
			</a>
			<a href="#">
				<span class="material-symbols-outlined">add</span>
				<h3>Add Car</h3>
			</a>
			<a href="#">
				<span class="material-symbols-outlined">logout</span>
				<h3>Log out</h3>
			</a>
		</div>
	</aside>
	<main>

	</main>
	<div class="right">

	</div>
</div>