<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RentACar</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RentACar.styles.css" asp-append-version="true" />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script> ​
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js">​

    </script> ​

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    @if (ViewData["HideNavigation"] == null || !(bool)ViewData["HideNavigation"])
    {
        <header>
            <div class="container">
                <div class="header-content">
                    <div class="left-nav">
                        <a href="#" class="logo">FAST DRIVE</a>
                        <nav class="main-nav">
                            <a asp-action="Index" asp-controller="Home" class="active">Home</a>
                            <a asp-action="Index" asp-controller="Car">Cars</a>
                            <a asp-action="AboutUs" asp-controller="Home">About Us</a>
                            <a asp-action="ContactUs" asp-controller="Home">Contact</a>
                        </nav>
                    </div>

                    <nav class="account-nav">
                        @if (!User.IsInRole("Admin") && !User.IsInRole("Company") && !User.IsInRole("User"))
                        {
                            <a asp-action="LogIn" asp-controller="Account">Log in</a>
                            <a asp-action="Register" asp-controller="Account">Register as User</a>
                            <a asp-action="RegisterCompany" asp-controller="Account">Register as a Company</a>
                        }
                        else
                        {
                            <div class="user-welcome">
                                <div><a>Welcome,  Maria</a></div>
                                <a href="#" class="profile-link">Go to profile</a>
                            </div>
                            <a asp-action="Logout" asp-controller="Account" class="logout-btn">
                                <span class="logout-icon">⟲</span>
                                Log out
                            </a>
                        }
                    </nav>
                </div>
            </div>
     @using RentACar.Utility
            <div class="container">
                <div class="header-container">
                    <div class="left-nav">
                        <a href="#" class="logo">FAST DRIVE</a>
                        <nav class="main-nav">
                            @if (User.IsInRole(SD.Admin))
                            {
                                <div class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Content Management
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="@Url.Action("AddCar", "Admin")">Add Car</a>


                                    </div>
                                </div>
                            } 
                            @if (User.IsInRole(SD.User))
                            {
                                <div class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Content Management
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="@Url.Action("Report", "Customer")">Добави report</a>


                                    </div>
                                </div>
                            }
                        </nav>
                        <partial name="_LoginPartial"/>​
                    </div>
                </div>
            </div>
            }
        </header>
    }     
    <div class="container">
        <main role="main" class="pb-3">
             <partial name="Notification"></partial>
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - RentACar - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

   
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
