<link rel="stylesheet" href="~/css/navigation.css" asp-append-version="true" />
<header>
    <div class="container">
        <div class="header-content">
            <div class="left-nav">
                <a href="#" class="logo">FAST DRIVE</a>
                <nav class="main-nav">
                    <a asp-action="Index" asp-controller="Home" class="active">Home</a>
                    <a asp-action="Index" asp-controller="Car">Cars</a>
                    <a asp-action="AboutUs" asp-controller="Home">About Us</a>
                    @if (!User.IsInRole("Company"))
                    {
                        <a asp-action="ContactUs" asp-controller="Home">Contact</a>
                    }
                </nav>
                </div>

                <nav class="account-nav">
                    @if (!User.IsInRole("Admin") && !User.IsInRole("Company") && !User.IsInRole("User"))
                    {
                        <a asp-action="LogIn" asp-controller="Account">Log in</a>
                        <a asp-action="Register" asp-controller="Account">Register as User</a>
                        <a asp-action="RegisterCompany" asp-controller="Account">Register as a Company</a>

                    }
                    else
                    {
                        <div class="user-welcome">
                            @if (User.IsInRole("User"))
                            {
                                <a>Welcome, @Context.Session.GetString("UserName")</a>
                                <a asp-action="Index" asp-controller="User" asp-route-id="@Context.Session.GetInt32("UserId")">Manage your reservation</a>

                            }
                            @if (User.IsInRole("Company"))
                            {
                                <a>Welcome, @Context.Session.GetString("CompanyName")</a>

                            }
                        </div>
                        <a asp-action="Logout" asp-controller="Account" class="logout-btn">
                            <span class="logout-icon">⟲</span>
                            Log out
                        </a>
                    }
                </nav>
            </div>
        </div>
</header>