.alert-danger {
    background-color: rgba(245, 66, 66, 0.1);
    border-left: 4px solid #f54242;
    color: #d93434;
    border-radius: 0 6px 6px 0;
    padding: 15px;
    margin-bottom: 20px;
}

    .alert-danger ul {
        margin-bottom: 0;
        padding-left: 20px;
    }
