@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
@model RegisterCompanyViewModel
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register As Company</title>
<link rel="stylesheet" href="~/css/register.css" asp-append-version="true" />
<link href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css" rel="stylesheet" />
<script src="~/js/main.js"></script>
</head>
<body>
    <div class="login-container">

        <form asp-action="RegisterCompany" method="post" class="login-form">
            <h1>Register As Company</h1>

            <div class="form-group">

                <span><i class="ri-user-3-line"></i></span>
                <div class="input-wrapper">
                    <input type="text" asp-for="CompanyName" placeholder=" " id="name" />
                    <label asp-for="CompanyName">Company Name</label>
                   
                </div>
            </div>
            <span asp-validation-for="CompanyName" class="text-red"></span>
           
            <div class="form-group">
                <span><i class="ri-profile-line"></i></span>
              
                <div class="input-wrapper">
                    <input id="password" type="text" asp-for="Description" placeholder=" " />
                    <label asp-for="Description">Description</label>
                    
                </div>
                
            </div>
            <span asp-validation-for="Description" class="text-red"></span>
            <div class="form-group">
                <span><i class="ri-user-3-line"></i></span>
                <div class="input-wrapper">
                    <input type="text" asp-for="City" placeholder=" " id="name" />
                    <label asp-for="City">City</label>
                    
                </div>
            </div>
            <span asp-validation-for="City" class="text-red"></span>
            <div class="form-group">
                <span><i class="ri-building-line"></i></span>
                <div class="input-wrapper">
                    <input type="text" asp-for="Country" placeholder=" " id="name" />
                    <label asp-for="Country">Coutnry</label>
                   
                </div>
            </div>
            <span asp-validation-for="Country" class="text-red"></span>
            <div class="form-group">
                <span><i class="ri-map-pin-2-line"></i></span>
                <div class="input-wrapper">
                    <input type="text" asp-for="Address" placeholder=" " id="name" />
                    <label asp-for="Address">Address</label>
                    
                </div>
            </div>
            <span asp-validation-for="Address" class="text-red"></span>
            <div class="form-group">
                <span><i class="ri-user-3-line"></i></span>
                <div class="input-wrapper">
                    <input type="text" asp-for="Email" placeholder=" " id="name" />
                    <label asp-for="Email">Email</label>
                    
                </div>
            </div>
            <span asp-validation-for="Email" class="text-red"></span>
            <div class="form-group">
                <span><i class="ri-lock-2-line"></i></span>
                <div class="input-wrapper">
                    <input id="password" type="password" asp-for="Password" placeholder=" " />
                    <label asp-for="Password">Password</label>
                    
                </div>
                <span id="toggle-password"><i class="ri-eye-off-line"></i></span>
            </div>
            <span asp-validation-for="Password" class="text-red"></span>
            <div class="form-group">
                <span><i class="ri-lock-2-line"></i></span>
                <div class="input-wrapper">
                    <input id="password" type="password" asp-for="ConfirmPassword" placeholder=" " />
                    <label asp-for="ConfirmPassword">Confirm Password</label>
                    
                </div>
                <span id="toggle-password"><i class="ri-eye-off-line"></i></span>
            </div>
            <span asp-validation-for="ConfirmPassword" class="text-red"></span>
            <button class="submit-btn">Register</button>
            <div class="register">
                Already have an account? <a asp-action="Login" asp-controller="Account">Log in</a>
            </div>
        </form>
    </div>

</body>
</html>